<%= form_with(model: blague) do |form| %>
  <% if blague.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blague.errors.count, "error") %> prohibited this blague from being saved:</h2>

      <ul>
        <% blague.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
