<p id="notice"><%= notice %></p>

<h1>Blagues</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blagues.each do |blague| %>
      <tr>
        <td><%= blague.content %></td>
        <td><%= link_to 'Show', blague %></td>
        <td><%= link_to 'Edit', edit_blague_path(blague) %></td>
        <td><%= link_to 'Destroy', blague, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blague', new_blague_path %>
