<!DOCTYPE html>
<html>
  <head>
    <title>Blagh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Epilogue', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
  <header>
    <ul>
      <li>
        <h1><%= link_to 'blagh.fr', "../../../acceuil/index"%></h1>
      </li>
      <li>
        <button class = "faire"><%= link_to 'faire une blague', new_blague_path %></button>
      </li>
    </ul>
  </header>

    <%= yield %>
  </body>
</html>
